<section class="hero is-success is-large is-myhero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><%= data.site.title %></h1>
      <h2 class="subtitle"><%= data.site.desc %></h2>
      <a href="/" class="button is-primary is-rounded is-inverted is-outlined is-large">お問い合わせ</a>
    </div>
  </div>
</section>

<div class="container is-spaced">
  <div class="columns is-multiline is-centered">

    <% data.coffees.items.each do |foo| %>
    <div class="column is-4">
      <div class="nakami">
        <%= image_tag "cup.svg" %>
        <h2 class="title is-size-4"><%= foo[:name] %></h2>
        <p><%= foo[:body] %></p>
        <p style="color: red; font-weight: bold;"><%= foo[:price] %></p>
        <a href="/" class="button">詳しくはこちら</a>
      </div>
    </div>
    <% end %>

  </div>
</div>

<style>

</style>